<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lisbonbigapps.myhoster.client"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="12"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.lisbonbigapps.myhoster.client.app.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.lisbonbigapps.myhoster.client.ui.SplashActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.lisbonbigapps.myhoster.client.ui.LoginActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.lisbonbigapps.myhoster.client.ui.TravellerActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.lisbonbigapps.myhoster.client.ui.ContactsActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.lisbonbigapps.myhoster.client.ui.ChatActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.lisbonbigapps.myhoster.client.ui.PreferencesActivity"
            android:label="@string/app_name" >
        </activity>

        <service
            android:name="com.octo.android.robospice.JacksonSpringAndroidSpiceService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name="com.lisbonbigapps.myhoster.client.service.LocalService"
            android:enabled="true"
            android:exported="false" >
        </service>

        <receiver android:name="com.lisbonbigapps.myhoster.client.ui.XmppUserChatReceiver" >
        </receiver>
        <receiver android:name="com.lisbonbigapps.myhoster.client.ui.XmppContactsReceiver" >
        </receiver>
    </application>

</manifest>